{% extends 'base/base.html' %}
{% block content %}

    <div class="position-absolute top-25 start-50 translate-middle-x">
        <br>
                <h1>Login Todo</h1>
                <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3 " style = "width: 200px" >
                            <input type="text" class="form-control" name="username" placeholder="Username" >
                        </div>
                      <div class="mb-3" style = "width: 200px">
                          <input type="password" class="form-control" name="password" placeholder="Password">
                      </div>
                        <button class="btn btn-secondary" style = "width: 200px" >Login</button>
                </form>
                <a href="{% url 'register' %}" class="nav-link active">Don't have an account?</a>
    </div>
{% endblock %}